@import "tailwindcss/base";
@import "tailwindcss/components";
@import './components.css';
@import "tailwindcss/utilities";

/* Import tailwind libraries and custom files 👆 */
/* (comments couldn't come before the imports) */
/* https: //tailwindcss.com/docs/using-with-preprocessors#build-time-imports */

/* Expose Tailwind config values */
:root {
  --gutter: theme(spacing.gutter);
}

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

