/* Import tailwind libraries and custom files */
/* https: //tailwindcss.com/docs/using-with-preprocessors#build-time-imports */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import './components.css';
@import "tailwindcss/utilities";

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

